# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
instance/
.webassets-cache

# Secret keys, API keys, or passwords
*.pem
*.key
*.secret
secrets.json
config.ini
credentials.json

# Flask
flask_session/
flask_session
.flaskenv
